<!DOCTYPE html>
<html>

<head>
  <title>Signup</title>
</head>

<body>
  <h1>Create a New User</h1>

  <!-- Success message -->
  <p th:if="${message}" style="color:green;" th:text="${message}"></p>

  <!-- Error message -->
  <p th:if="${error}" style="color:red;" th:text="${error}"></p>

  <form action="/signin" method="post">
    <input type="text" name="name" placeholder="Name" required /><br />
    <input type="email" name="email" placeholder="Email" required /><br />
    <input type="password" name="password" placeholder="Password" required /><br />
    <input type="hidden" name="returnUrl" th:value="${returnUrl}" />
    <button type="submit">Sign Up</button>
  </form>
</body>

</html>